<form class="forms-sample" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="form-group row">
    <div class="col-3">
      <label for="">Nhập từ khoá tìm kiếm</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập mã hoặc tên để tìm kiếm"
        formControlName="filter"
      />
    </div>
    <div class="col-3">
      <label for="maTinh">Tỉnh/Thành phố</label>
      <select class="form-control" formControlName="maTinh" id="maTinh">
        <option value="">-Chọn-</option>
        <option *ngFor="let district of districtData" [value]="district.maTinh">
          {{ district.tenTinh }}
        </option>
      </select>
    </div>
    <div class="col-3">
      <label for="maHuyen">Quận/Huyện</label>
      <select class="form-control" formControlName="maHuyen" id="maHuyen">
        <option value="">-Chọn-</option>
        <option
          *ngFor="let province of provinceData"
          [value]="province.maHuyen"
        >
          {{ province.tenHuyen }}
        </option>
      </select>
    </div>
    <div class="col-3">
      <label for="">Hoạt động</label>
      <select
        class="form-control"
        id="exampleFormControlSelect2"
        placeholder="-Chọn-"
        formControlName="isActive"
      >
        <option value="true">Hoạt động</option>
        <option value="false">Không hoạt động</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-info btn-icon-text" (click)="onSearch()">
    <i class="mdi mdi-magnify btn-icon-prepend"></i>
    Tìm
  </button>
  <button
    type="button"
    class="btn btn-light btn-icon-text"
    (click)="resetSearch()"
  >
    <i class="ti-reload btn-icon-prepend"></i>
    Reset
  </button>
</form>
