<div class="page-content page-container" id="page-content" *ngIf="isLoading">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="loader-demo-box">
          <div class="jumping-dots-loader">
            <span></span> <span></span> <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <h4 class="card-title">District List</h4>
    <button type="button" class="btn btn-success" (click)="openForm()">
      + Add New District
    </button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Mã tỉnh</th>
            <th>Tên tỉnh</th>
            <th>Cấp</th>
            <th>Kích hoạt</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let district of districts">
            <td class="py-1">{{ district.maTinh }}</td>

            <td>{{ district.tenTinh }}</td>

            <td>{{ district.cap }}</td>

            <td>
              <i
                [class]="
                  district.isActive
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>

            <td>
              <button
                class="btn btn-info"
                (click)="chooseItem(district, 'edit')"
              >
                <i class="mdi mdi-border-color"></i>
                Edit
              </button>
              <button class="btn btn-danger" (click)="delete(district.id)">
                <i class="mdi mdi-delete-forever"></i>Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [boundaryLinks]="true"
        [maxSize]="5"
      ></ngb-pagination>
    </div>
  </div>
</div>
<app-district-form
  [isOpen]="isFormOpen"
  [itemForEdit]="itemToEdit"
  (formClosed)="onFormClosed()"
  (itemtAdded)="isItemAdded($event)"
/>
