<div class="modal" tabindex="-1" role="dialog" *ngIf="isOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add District</h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="productName">Mã Tỉnh</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="maTinh"
              name="maTinh"
              [(ngModel)] = "itemInit.maTinh"
              required
            />
            <label for="productName">Tên Tỉnh</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="tenTinh"
              name="tenTinh"
              [(ngModel)] = "itemInit.tenTinh"
              required
            />
            <label for="productName">Cấp</label>
            <select
              id="cap"
              class="form-control"
              name="cap"
              [(ngModel)] = "itemInit.cap"
              required
            >
              <option value="Tỉnh">Tỉnh</option>
              <option value="Thành phố trung ương">Thành phố trung ương</option>
            </select>
            <label for="productName">Hoạt động</label>
            <select
              id="isActive"
              class="form-control"
              name="isActive"
              required
            >
              <option value="true">Active</option>
              <option value="false">No-Active</option>
            </select>
          </div>
          <button type="submit" class="btn btn-info" (click)="addItem()">
            {{ mode === "edit" ? "Save Changes" : "Add" }}
          </button>
          <button type="button" class="btn btn-secondary" (click)="close()">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
