<div class="modal" tabindex="-1" role="dialog" *ngIf="isOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Province</h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="productName">Mã Huyện</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="maHuyen"
              name="maHuyen"
              [(ngModel)]="itemInit.maHuyen"
              required
            />
            <label for="productName">Tên Huyện</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="tenHuyen"
              name="tenHuyen"
              [(ngModel)]="itemInit.tenHuyen"
              required
            />
            <label for="maTinh">Mã Tỉnh</label>
            <select
              id="maTinh"
              class="form-control form-control-lg"
              name="maTinh"
              [(ngModel)]="itemInit.maTinh"
              required
            >
              <option value="" disabled selected>Chọn Mã Tỉnh</option>
              <option
                *ngFor="let district of districtData"
                [value]="district.maTinh"
              >
                {{ district.tenTinh }}
              </option>
            </select>
            <label for="productName">Cấp</label>
            <select
              id="cap"
              class="form-control"
              name="cap"
              [(ngModel)]="itemInit.cap"
              required
            >
              <option value="Huyện">Huyện</option>
            </select>
            <label for="productName">Hoạt động</label>
            <select
              id="isActive"
              class="form-control"
              name="isActive"
              [(ngModel)]="itemInit.isActive"
              required
            >
              <option value="true">Active</option>
              <option value="false">No-Active</option>
            </select>
          </div>
          <button type="submit" class="btn btn-info" (click)="addItem()">
            {{ mode === "edit" ? "Save Changes" : "Add" }}
          </button>
          <button type="button" class="btn btn-secondary" (click)="close()">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
