<div class="container" *ngIf="isLoading">
  <div class="text-center">
    <div
      class="spinner-border"
      style="width: 3rem; height: 3rem"
      role="status"
    ></div>
  </div>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <h4 class="card-title">Province List</h4>
    <button type="button" class="btn btn-success" (click)="openForm()">
      + Add New Province
    </button>
    <app-province-search (dataSearched)="onDataSearched($event)" />
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Mã Huyện</th>
            <th>Tên Huyện</th>
            <th>Cấp</th>
            <th>Mã tỉnh</th>
            <th>Kích hoạt</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let province of provinces">
            <td class="py-1">{{ province.maHuyen }}</td>

            <td>{{ province.tenHuyen }}</td>

            <td>{{ province.cap }}</td>
            <td>{{ province.maTinh }}</td>

            <td>
              <i
                [class]="
                  province.isActive
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>

            <td>
              <button class="btn btn-info" (click)="chooseItem(province)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="delete(province.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
      ></ngb-pagination>
    </div>
  </div>
</div>
<app-province-form
  [isOpen]="isFormOpen"
  [itemForEdit]="itemToEdit"
  (formClosed)="onFormClosed()"
  (itemtAdded)="isItemAdded($event)"
/>
