<div class="container" *ngIf="isLoading">
  <div class="text-center">
    <div
      class="spinner-border"
      style="width: 3rem; height: 3rem"
      role="status"
    ></div>
  </div>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <h4 class="card-title">Province List</h4>
    <button type="button" class="btn btn-success" (click)="openForm()">
      + Add New Province
    </button>
    <!-- <app-province-search (dataSearched)="onDataSearched($event)" /> -->
    <app-search-form
      [fields]="[
        { name: 'filter', type: 'text', label: 'Tìm kiếm ', defaultValue: '' },
        { name: 'maTinh', type: 'text', label: 'Mã Tỉnh', defaultValue: '' },
        {
          name: 'isActive',
          type: 'boolean',
          label: 'Hoạt động',
          defaultValue: null
        }
      ]"
      [service]="provinceservice"
      (dataSearched)="onDataSearched($event)"
    />
    <div class="table-responsive">
      <app-table
        [columns]="['maHuyen', 'tenHuyen', 'cap', 'maTinh', 'isActive']"
        [columnNames]="['Mã Huyện', 'Tên Huyện', 'Cấp', 'Mã Tỉnh', 'Kích Hoạt']"
        [data]="provinces"
        [actions]="['Edit', 'Delete']"
        [isLoading]="isLoading"
        (edit)="chooseItem($event)"
        (delete)="delete($event)"
        (pageChange)="onPageChange($event)"
      />
    </div>
    <div class="d-flex justify-content-end mt-3">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
      ></ngb-pagination>
    </div>
  </div>
</div>
<app-province-form
  [isOpen]="isFormOpen"
  [itemForEdit]="itemToEdit"
  (formClosed)="onFormClosed()"
  (itemtAdded)="isItemAdded($event)"
/>
