<div class="text-center" *ngIf="isLoading">
  <div
    class="spinner-border"
    style="width: 3rem; height: 3rem"
    role="status"
  ></div>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <h4 class="card-title">Commune List</h4>
    <button type="button" class="btn btn-success" (click)="openForm()">
      + Add New Commune
    </button>
    <app-search-form
      [fields]="[
        {
          name: 'filter',
          type: 'text',
          label: 'Tìm bằng mã hoặc tên xã',
          defaultValue: ''
        },
        { name: 'maTinh', type: 'text', label: 'Mã Tỉnh', defaultValue: '' },
        { name: 'maHuyen', type: 'text', label: 'Mã Huyện', defaultValue: '' },
        {
          name: 'isActive',
          type: 'boolean',
          label: 'Hoạt động',
          defaultValue: null
        }
      ]"
      [service]="communeService"
      (dataSearched)="onDataSearched($event)"
    />
    <div class="table-responsive">
      <app-table
        [columns]="[
          'maXa',
          'tenXa',
          'maHuyen',
          'maTinh',
          'cap',
          'isXaNgheo',
          'isXaDanToc',
          'isXaMienNui',
          'isThanhThi',
          'isActive'
        ]"
        [columnNames]="[
          'Mã Xã',
          'Tên Xã',
          'Mã Huyện',
          'Mã Tỉnh',
          'Cấp',
          'Xã Nghèo',
          'Xã Dân Tộc',
          'Xã Miền Núi',
          'Là Thành Thị',
          'Kích Hoạt'
        ]"
        [data]="items"
        [actions]="['Edit', 'Delete']"
        [isLoading]="isLoading"
        (edit)="chooseItem($event)"
        (delete)="delete($event)"
        (pageChange)="onPageChange($event)"
      />
    </div>
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
      [maxSize]="5"
    ></ngb-pagination>
  </div>
</div>
<app-commune-form
  [isOpen]="isFormOpen"
  [itemForEdit]="itemToEdit"
  (formClosed)="onFormClosed()"
  (itemtAdded)="isItemAdded($event)"
/>
