<div class="text-center" *ngIf="isLoading">
  <div
    class="spinner-border"
    style="width: 3rem; height: 3rem"
    role="status"
  ></div>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="card-body">
    <h4 class="card-title">Commune List</h4>
    <button type="button" class="btn btn-success" (click)="openForm()">
      + Add New Commune
    </button>
    <app-search-form
      [fields]="[
        {
          name: 'filter',
          type: 'text',
          label: 'Tìm bằng mã hoặc tên xã',
          defaultValue: ''
        },
        { name: 'maTinh', type: 'text', label: 'Mã Tỉnh', defaultValue: '' },
        { name: 'maHuyen', type: 'text', label: 'Mã Huyện', defaultValue: '' },
        {
          name: 'isActive',
          type: 'boolean',
          label: 'Hoạt động',
          defaultValue: null
        }
      ]"
      [service]="communeService"
      (dataSearched)="onDataSearched($event)"
    />
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Mã xã</th>
            <th>Tên xã</th>
            <th>Mã huyện</th>
            <th>Mã tỉnh</th>
            <th>Cấp</th>
            <th>Xã nghèo</th>
            <th>Xã dân tộc</th>
            <th>Xã miền núi</th>
            <th>Là thành thị</th>
            <th>Hoạt động</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="py-1">{{ item.maXa }}</td>

            <td>{{ item.tenXa }}</td>

            <td>{{ item.maHuyen }}</td>
            <td>{{ item.maTinh }}</td>
            <td>{{ item.cap }}</td>

            <td>
              <i
                [class]="
                  item.isXaNgheo
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>
            <td>
              <i
                [class]="
                  item.isXaDanToc
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>
            <td>
              <i
                [class]="
                  item.isXaMienNui
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>
            <td>
              <i
                [class]="
                  item.isThanhThi
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>
            <td>
              <i
                [class]="
                  item.isActive
                    ? 'mdi mdi-check-circle-outline'
                    : 'mdi mdi-close-circle-outline'
                "
                style="font-size: 24px"
              ></i>
            </td>

            <td>
              <button class="btn btn-info" (click)="chooseItem(item)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="delete(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
      [maxSize]="5"
    ></ngb-pagination>
  </div>
</div>
<app-commune-form
  [isOpen]="isFormOpen"
  [itemForEdit]="itemToEdit"
  (formClosed)="onFormClosed()"
  (itemtAdded)="isItemAdded($event)"
/>
