<form class="forms-sample" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="form-group row">
    <div class="col-6">
      <label for="">Nhập từ khoá tìm kiếm</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nhập mã hoặc tên để tìm kiếm"
        formControlName="filter"
      />
    </div>
    <div class="col-6">
      <label for="">Hoạt động</label>
      <select
        class="form-control"
        id="exampleFormControlSelect2"
        formControlName="isActive"
      >
        <option value="null">-Tất Cả-</option>
        <option value="true">Hoạt động</option>
        <option value="false">Không hoạt động</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-info btn-icon-text" (click)="onSearch()">
    <i class="mdi mdi-magnify btn-icon-prepend"></i>
    Tìm
  </button>
  <button
    type="button"
    class="btn btn-light btn-icon-text"
    (click)="resetSearch()"
  >
    <i class="ti-reload btn-icon-prepend"></i>
    Reset
  </button>
</form>
